{
  "plugins": [
    "styled-components"
  ],
  "env": {
    "es": {
      "presets": [
        ["env", {
          "loose": true,
          "modules": false
        }],
        "stage-1",
        "react"
      ]
    },
    "cjs": {
      "presets": [
        ["env", {
          "loose": true,
          "modules": "commonjs"
        }],
        "stage-1",
        "react"
      ]
    }
  }
}
