{
  "env": {
    "es": {
      "presets": [
        ["treebo", {
          "targets": {},
          "loose": false,
          "modules": false,
          "useBuiltIns": false
        }]
      ]
    },
    "cjs": {
      "presets": [
        ["treebo", {
          "targets": {},
          "loose": false,
          "modules": "commonjs",
          "useBuiltIns": false
        }]
      ]
    }
  }
}
