{
  "env": {
    "es": {
      "plugins": [
        "transform-export-extensions",
        "transform-class-properties",
        "transform-object-rest-spread",
        "syntax-trailing-function-commas",
        "transform-runtime",
        "styled-components"
      ],
      "presets": [
        ["env", {
          "loose": true,
          "modules": false
        }],
        "react"
      ]
    },
    "cjs": {
      "plugins": [
        "transform-export-extensions",
        "transform-class-properties",
        "transform-object-rest-spread",
        "syntax-trailing-function-commas",
        "transform-runtime",
        "styled-components"
      ],
      "presets": [
        ["env", {
          "loose": true,
          "modules": "commonjs"
        }],
        "react"
      ]
    },
    "development": {
      "presets": [
        "expo"
      ],
      "plugins": [
        "transform-react-jsx-source"
      ]
    }
  }
}
