{
  "processors": [
    ["stylelint-processor-styled-components", {
      "parserPlugins": [
        "jsx",
        "objectRestSpread",
        ["decorators", { "decoratorsBeforeExport": true }],
        "classProperties",
        "exportExtensions",
        "asyncGenerators",
        "functionBind",
        "functionSent",
        "dynamicImport",
        "optionalCatchBinding",
        "optionalChaining",
        "exportDefaultFrom"
      ]
    }],
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "comment-empty-line-before": null
  },
  "syntax": "scss"
}
